.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app__grid {
  align-content: center;
  margin: 60px auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1021px) {
  .app__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 746px) {
  .app__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 494px) {
  .app__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.app__header {
  font-size: 32px;
}

@media screen and (max-width: 494px) {
  .app__header {
    font-size: 25px;
  }
}
